.about-section{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .about-section{
        height: fit-content;
        padding-bottom: 20px;
    }
}

.personal-card button{
        transition: all 1s;    
}

.personal-card button:hover{
    background-color: rgb(0, 162, 255);
    color: white;
}

