header{
    background-image: linear-gradient(rgb(52, 0, 87), rgb(26, 9, 29));
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 90px;
}

.above_hero{
    height: 90px;
    z-index: -100;
}

nav{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 90%;
    list-style: none;
}

ul li{
    text-decoration: none;
    padding: 20px;
    transition: all 0.8s ease;
}

ul li:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(0, 110, 255);
}

aside{
    background: linear-gradient(rgb(105, 1, 165), rgba(85, 28, 102, 0.438));
}