.blog-image{
    align-self: center !important;
}

.projects-container{
    background: url(../../../../public/assets/images/hill-landscape-black.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}